<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.x5bridgelibrary">

    <application>
        <activity android:name=".x5view.X5Activity"></activity>
        <service android:name=".services.X5NetService"></service>
    </application>

</manifest>